@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 302 0% 90%;
    --foreground: 222.2 84% 4.9%;

    --card: 302 0% 90%;
    --card-foreground: 227 80% 57%;

    --primary: 223 79% 57%;
  }

  .dark {
    --background: 0 0% 39%;
    --foreground: 210 40% 98%;

    --card: 0 0% 39%;
    --card-foreground: 180 60% 60%;

    --primary: 230 85% 78%;
  }
}

@layer base {
  * {
    @apply border-primary;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose {
  max-width: none;
}

.prose-slate {
  @apply text-foreground;
}

.prose span code {
  background-color: var(--foreground) !important;
  color: var(--background) !important;
}

.prose figure :where(code):not(:where([class~="not-prose"] *)),
.prose figure :where(code):not(:where([class~="not-prose"] *)) {
  color: var(--foreground);
  font-weight: 400;
}

.prose figure :where(code):not(:where([class~="not-prose"] *))::before,
.prose figure :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.prose ul {
  margin-top: 2px;
  margin-bottom: 2px;
}

.prose img {
  max-height: 500px;
  margin: 12px auto 30px auto;
}

.prose hr {
  @apply border-primary;
}

.prose blockquote {
  @apply border-primary;
}

.prose a {
  @apply text-primary underline underline-offset-4 font-light;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply mt-28 font-extrabold;
}

.prose figure[data-rehype-pretty-code-figure] > pre {
  @apply rounded-none;
}